/*
COLORS:
main: #998067
mid: #826c57
bg: #6a5947
dark: #4a3e32
*/
html {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	font-family: "DM Mono", monospace;
	font-size: 18px;
	color: #4a3e32;
	
	background-color: #6a5947;
	scrollbar-color: #6a5947 #826c57;
	scrollbar-width: none;
	cursor: grab;
	overflow-y: auto;
	overflow-x: auto;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30px 1fr 30px;
	gap: 15px;
}

header {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

footer {
	justify-self: right;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	position: sticky;
	bottom: 0;
	right: 15px;
}

#changelog {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
	height: 100%;
	width: 100%;
	background-color: rgb(35, 30, 25, 0.8);
	color: #998067;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

.body-grid {
	margin: auto;
	height: 870px;
	width: 1200px;
	display: grid;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	grid-template-columns: 1fr 2fr 1.5fr;
	grid-template-rows: repeat(4, 30px) repeat(16, 1fr);
	gap: 15px;
	justify-self: center;
}

hr {
	height: 1px;
	background-color: #4a3e32;
	border: 0px;
}

::selection {
	color: #998067;
	background-color: #4a3e32;
}

.locked-box {
	background-color: #4a3e32; 
	color: #998067; 
	text-align: center; 
	vertical-align: middle; 
	font-size: smaller; 
	font-style: italic; 
	line-height: 325px; 
	box-shadow: -4px 4px #4a3e32;
	opacity: 33%;
}

.box {
	background-color: #998067;
	box-shadow: -4px 4px #4a3e32;
	overflow-wrap: anywhere;
}

.text {
	margin: 15px;
	width: auto;
}

.in-box {
	background-color: #826c57;
	overflow-wrap: anywhere;
}

#thought {
	grid-column: 1 / 2;
	grid-row: 5 / 12;
	display: grid;
	grid-template-columns: 15px 1fr 15px;
	grid-template-rows: 15px 30px 1fr 15px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#log {
	display: none;
	grid-column: 1 / 2;
	grid-row: 12 / 20;
	grid-template-columns: 15px 20px 1fr 15px;
	grid-template-rows: 15px 30px 1fr 15px;
}

.icon {
	font-weight: bold; 
	font-size: 24px;
	line-height: 16px;
}

.mat-gained {
	font-size: smaller;
}

#center {
	grid-column: 2 / 3;
	grid-row: 1 / 20;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30px 1fr; 
}

#center-tabs {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

#center-box {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

#sandglass-tab {
	text-align: center;
}

#pockets {
	overflow-wrap: anywhere;
	font-size: 24px;
	line-height: 14px;
	width: 155px;
	padding: 15px;
	height: 280px;
	display: none;
}

#gather-button {
	display: none;
}

#wander-button {
	display: none;
}

#map-container {
	overflow-wrap: anywhere;
	width: 285px;
	height: 310px;
	display: none;
	overflow: hidden;
	text-align: center;
}

#map {
	letter-spacing: 13px;
	font-size: 22px;
	user-select: none;
}

.map-mats {
	height: auto;
	width: auto;
	margin: 0px;
	padding: 0px;
	background: none;
}

.map-mats:hover {
	font-weight: bold;
}

.map-mats:disabled:hover {
	font-weight: normal;
}

.wreck:disabled {
	opacity: 0%;
}

.mirage:disabled {
	opacity: 25%;
}

#gather-msg, #scavenge-msg {
	font-style: italic; 
	font-size: 11px; 
	text-align: center;
	margin-top: 7.5px;
}

#key {
	position: relative;
	display: inline-block;
	width: 100%;
	background-color: #4a3e32;
	color: #826c57;
}

#key:hover {
	font-weight: bold;
}

#key #key-content {
  visibility: hidden;
  width: 270px;
  background-color: rgb(130,108,87,0.75);
  color: #4a3e32;
  text-align: center;
  height: 279px;

 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#key:hover #key-content {
	visibility: visible;
	font-weight: normal;
}

/* buttons and tabs */
input[type = "button"]{
	outline: none;
}

button {
	font-family: inherit;
	font-size: inherit;
	color: #4a3e32;
	border: none;
	height: 30px;
	background-color: #998067;
	cursor: grab;
	outline: none;
}

button:active {
	cursor: grabbing;
}

button.normal {
	box-shadow: -4px 4px #4a3e32;
	margin-bottom: 15px;
	border: 2px solid #826c57;
}

button.normal:active {
	transform: translateY(2px) translateX(-2px);
	box-shadow: -2px 2px #4a3e32;
}

button.normal:disabled {
	background-color: #826c57;
	transform: translateY(2px) translateX(-2px);
	box-shadow: -2px 2px #4a3e32
}

.tab {
	margin-left: 7.5px;"
}

.tab-content {
	display: none;
}

.tab button {
	background-color: #826c57;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;

	height: 30px;
}

.tab button.shown {
	background-color: #998067;
}

#craft-nav {
	display: none;
}

/* sky color */
.sky-color {
	grid-column: 1 / 2;
	grid-row: 1 / 5;
}

#sunset {
	background: linear-gradient(#023b75, red);
}

#night {
	background-color: #153f4e;
	border: 5px inset #998067;
}

#day {
	background: radial-gradient(circle at 30% 30%, #fee2c6, #679980, #679980, #679980);
	border: 5px inset #998067;
}

#sleep {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	justify-self: right;
	color: #998067;
	z-index: 1;
	background: none;
	padding-bottom: 15px;
	padding-right: 15px;
	display: none;
}

#sleep:hover {
	font-weight: bold;
}